* {
  box-sizing: border-box;
}
.AttackShower {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  padding: 10px;
  text-align: center;
}
.centered {
  display: flex;
  justify-content: center;
  margin: 0;
}
.inerrcenterred {
  width: 100%;
  max-width: 1000px;
}
.HpShower {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  padding: 10px;
  text-align: center;
}
.AttackCoulum {
  display: inline-block;
}
.BattleArina {
  display: flex;
  /* background-image: url("boss1/background1.gif"); */
  background-size: cover;
  width: 450px;
  max-width: 100%;
}
.NoviceBossButton,
.SuperEasyBossButton,
.PracticeBossButton,
.EasyBossButton,
.MediumBossButton,
.HardBossButton,
.BossButton,
.UltraBossButton {
  margin: 10px;
  width: 100%;
  padding: 10px;
  width: 100%;
  border-width: 10px;
  border-radius: 70px;
  background-color: #ffffff;
  display: flex;
  border-style: outset;
}
.NoviceBossButton:hover {
  border-color: rgb(83, 146, 254);
}
.SuperEasyBossButton:hover {
  border-color: rgb(3, 225, 159);
}
.PracticeBossButton:hover {
  border-color: rgb(0, 76, 255);
}
.EasyBossButton:hover {
  border-color: rgb(2, 181, 41);
}
.MediumBossButton:hover {
  border-color: rgb(250, 198, 28);
}
.HardBossButton:hover {
  border-color: rgb(255, 0, 0);
}
.BossButton:hover {
  border-color: rgb(155, 2, 2);
}
.UltraBossButton:hover {
  border-color: rgb(98, 0, 0);
}

.BossDiscription {
  text-align: left;
}
.AttackInProgress {
  display: none;
}
.BossButtonBossImage {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.Uncharged {
  pointer-events: none;
  filter: grayscale(100%);
}
.AttackButton {
  padding: 10px;
  width: 180px;
  height: 80px;
  border-radius: 20%;
  background-color: #26ff00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BlastPanes {
  width: 80px;
  height: 80px;
}
.Player {
  width: 100%;
}
.ChoosePage {
  display: block;
}
.FightPage {
  display: none;
  flex-direction: column;
  align-items: center;
}
.PlayerAttackWrapper {
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 625ms ease-in-out;
}
.ArenaLeft,
.ArenaRight {
  width: 45%;
}
.ArenaLeft {
  margin-right: 20px;
}
.InputBox {
  width: 200px;
}
.InputTeller {
  width: 300px;
  height: 40px;
  justify-content: centre;
  align-items: center;
  margin: 50px;
}
.EndPage {
  display: none;
}
