* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
b {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.attack-shower {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  padding: 10px;
  text-align: center;
}
.centered {
  display: flex;
  justify-content: center;
  margin: 0;
}
.instruction-title {
  font-size: 25px;
}
.inerrcenterred {
  width: 100%;
  max-width: 1000px;
}
.opponent-choose-title {
  font-size: 20px;
}
.HpShower {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  padding: 10px;
  text-align: center;
}
.attack-coulum {
  display: inline-block;
}
.BattleArina {
  display: flex;
  /* background-image: url("boss1/background1.gif"); */
  background-size: cover;
  width: 450px;
  max-width: 100%;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.novice-boss-button,
.SuperEasyBossButton,
.PracticeBossButton,
.EasyBossButton,
.MediumBossButton,
.HardBossButton,
.BossButton,
.UltraBossButton {
  margin: 10px;
  width: 100%;
  padding: 10px;
  width: 100%;
  border-width: 10px;
  border-radius: 70px;
  background-color: #ffffff;
  display: flex;
  border-style: outset;
}
.novice-boss-button:hover {
  border-color: rgb(83, 146, 254);
  cursor: pointer;
}
.SuperEasyBossButton:hover {
  border-color: rgb(3, 225, 159);
  cursor: pointer;
}
.PracticeBossButton:hover {
  border-color: rgb(0, 76, 255);
  cursor: pointer;
}
.EasyBossButton:hover {
  border-color: rgb(2, 181, 41);
  cursor: pointer;
}
.MediumBossButton:hover {
  border-color: rgb(250, 198, 28);
  cursor: pointer;
}
.HardBossButton:hover {
  border-color: rgb(255, 0, 0);
  cursor: pointer;
}
.BossButton:hover {
  border-color: rgb(155, 2, 2);
  cursor: pointer;
}
.UltraBossButton:hover {
  border-color: rgb(98, 0, 0);
  cursor: pointer;
}

.boss-discription {
  text-align: left;
  font-size: 15px;
}
.AttackInProgress {
  display: none;
}
.boss-button-boss-image {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.Uncharged {
  pointer-events: none;
  filter: grayscale(100%);
}
.attack-button {
  padding: 10px;
  width: 180px;
  height: 80px;
  border-radius: 20%;
  background-color: #26ff00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blast-panes {
  width: 80px;
  height: 80px;
}
.Player {
  width: 100%;
}
.choose-page {
  display: block;
}
.fight-page {
  display: none;
  flex-direction: column;
  align-items: center;
}
.PlayerAttackWrapper {
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 625ms ease-in-out;
}
.ArenaLeft,
.ArenaRight {
  width: 45%;
}
.ArenaLeft {
  margin-right: 20px;
}
.InputBox {
  width: 200px;
}
.InputTeller {
  width: 300px;
  height: 40px;
  justify-content: centre;
  align-items: center;
  margin: 50px;
}
.EndPage {
  display: none;
}
