h2 {
  margin-top: 100px;
}
.container {
  padding: 10px;
  margin-bottom: 20px;
  margin: auto;
  width: 400px;
}
* {
  box-sizing: border-box;
}
.join_the_Journey {
  margin: 50px;
}
img {
  border-radius: 15px;
  max-width: 100%;
  border: solid rgb(161, 171, 226);
}
.dad {
  padding: 20px;
  background: rgb(237, 246, 255);
  border-radius: 10px;
}
.code_panel {
  padding: 10px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  white-space: pre-wrap;
}
