* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.block-container {
  display: block;
}
.roll-button {
  align-items: center;
  justify-self: center;
  display: flex;
  width: 59px;
  justify-content: center;
  height: 28px;
  font-size: 20px;
}
.what-you-got {
  align-items: center;
  justify-self: center;
  display: flex;
  width: 794px;
  justify-content: center;
  height: 86px;
  font-size: 20px;
  font-weight: 700;
}
.xp-bar-outside {
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  border-radius: 26px;
  position: relative;
  margin: 10px 0px;
  overflow: hidden;
  width: 738px;
}
.xp-bar {
  height: 40px;
  width: 0%;
  background-color: rgb(246, 255, 0);
  border-radius: 23px;
  transition: width 2s ease-in-out;
}
.level-teller {
  align-items: center;
  justify-self: center;
  display: flex;
  width: 79px;
  justify-content: center;
  height: 35px;
  font-size: 20px;
  background-color: rgb(121 121 121);
}
.no-transition {
  transition: none !important;
}
